html {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,

    #463b7e,
    #354787,
    #21528e,
    #005c91,
    #007bab,
    #009bbe,
    #00bbca,
    #40dad0
  );
}

@media only screen and (max-width: 768px) {
  .title {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }
  .controller {
    margin-left: 5px;
    margin-right: 5px;
  }
}
